@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
:root {
    /* project Colors */
    --link-c: #474d75;
    --dark-blue: #3a50f9;
    --blue-sky: #38c0e7;
    --green: #3dd2ae;
    /*old colors*/
    --main-color: #333;
    --yellow: #ffc800;
    --orange: #fba61b;
    --pink: #ee4dc6;
    --soft-pink: #e1b7bf;
    --dark-pink: #c262af;
    --grey: #d4c7e8;
    --red: #fe4323;
    --soft-red:#ffbea7;
    --violet: #835fa8;
    --black: #111;
    --text-c: #555c66;
    --bg-footer: #333;
    --light-text: #808080;
    --main-bg: #e5e5e5;/* icon bg */
    --shadow: rgb(0 0 0 / 20%);
    --input-border: #d9d9d9;
    --link-bg: #b9c1cc;
    --dark-grayish: #414c62;
    --olive: #c4b35d;
    --grey-80: #808080;
}
/* global rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
ul {
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}
@media (min-width: 922px) {
    .container {
        margin-left: 100px !important;
        margin-right: 100px !important;
    }
}
.container {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}
/* start header */
header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    height: 74px;
}
header form input {
    border: 1px solid white;
}
header .search input::placeholder {
    color: var(--input-border);
}
header .search i {
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
@media (max-width: 767px) {
    header nav {
        display: none;
        position: absolute;
        top: 74px;
        left: 0;
        width: 100%;
        background-color: var(--bg-footer);
        padding: 30px;
    }
    header nav ul {
        flex-direction: column;
    }
    header nav ul li {
        flex-basis: 100%;
    }
    header nav ul li a {
        color: white !important;
    }
    header nav .close {
        display: block !important;
        top: 20px;
        right: 20px;
    }
}

header nav ul li a {
    color: var(--footer-bg);
}
header nav ul li a:hover {
    color: var(--light-text);
}
header nav .close {
    color: white;
    display: none;
}
@media (max-width: 767px) {
    header .open {
        display: block !important;
    }
}
header .open {
    display: none;
}
/* end header */

/* start landing*/
.landing {
    overflow: hidden;
    padding-bottom: 100px;
}
@media (min-width: 768px) {
    .landing {
        height: calc(100vh - 74px);
        overflow: hidden;
    }
    .landing .container {
        align-items: center;
    }
    .landing .container > div {
        width: 50%;
    }
}
.landing .container .info a:hover {
    background-color: white;
    color: var(--dark-pink);
}
/* end landing *

/* skills */
.skills .container .boxes {
    top: -150px;
}
.skills .my-skills .skill p {
    max-width: 400px;
}
.skills .my-skills .skill a:hover {
    background-color: white;
    color: var(--dark-pink);
}
/* skills */

/* fs-25 ml-10 */
@media (min-width: 768px) {
    .resume .container .info {
        width: 40%;
    }
    .resume .container .statics {
        width: calc(60% - 30px);
    }
}
.resume .text a:hover {
    background-color: white;
    color: var(--dark-pink);
}
.resume .info a:hover {
    text-decoration: underline var(--dark-pink) !important;
    color: var(--dark-pink);
}
.resume .info a:hover i {
    color: var(--dark-pink);
}
/* fs-25 ml-10 */

/* experiences */
.experiences .container > p {
    max-width: 650px;
}
.experiences .container .careers {
    max-width: 900px;
}
@media (min-width: 768px) {
    .experiences .container .careers .career > p {
        width: 30%;
    }
    .experiences .container .careers .career > div { 
        width: calc(70% - 30px);
    }
}
.experiences .container .careers .career .info a:hover {
    background-color: white;
    color: var(--dark-pink);
}
/* experiences */

/* pricing */
.pricing .container .disc {
    max-width: 600px;
}
.pricing .container a:hover {
    background-color: white;
    color: var(--dark-pink);
}
/* pricing */

/* software */
.software::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 300px;
    background-color: var(--violet);
}
@media (max-width: 1160px) {
    .software .container .boxes .box {
        margin-top: 0 !important;
    }
}
.software .container .boxes .box a:hover {
    color: var(--soft-pink);
}
/* software */

/* contact */
@media (min-width: 768px) {
    .contact > .container {
        width: 40%;
    }
    .contact .contact-info {
        width: calc(60% - 30px);
    }
}
.contact .container form .field:focus::placeholder {
    opacity: 0;
}
.contact .container form .submit:hover {
    background-color: white;
    color: var(--violet);
}
@media (max-width: 600px) {
    .contact .contact-info .profile {
        flex-direction: column;
    }
}

/* contact */

/* start footer */
footer .text {
    max-width: 500px;
}
footer a:hover {
    color: var(--dark-blue);
    text-decoration: underline;
}
/* end footer */